[user]
	name = sudo-haggis
	email = 156850571+sudo-haggis@users.noreply.github.com
[core]
	autocrlf = input
	editor = vim
	hooksPath = ~/.git-hooks
[credential]
	helper = store
[init]
	defaultbranch = main
	default = main
[alias]
	am = commit -am
