[Desktop Entry]
Type=Application
Exec=alacritty
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_GB]=Alactritty
Name=Alactritty
Comment[en_GB]=
Comment=
